// Colors

// Primary
$darkCyan: hsl(185, 75%, 39%);
$vddBlue: hsl(229, 23%, 23%);
$dgBlue: hsl(227, 10%, 46%);

// Neutral
$darkGray: hsl(0, 0%, 59%);


// Font

// Weight
$font-norm: 400;
$font-bold: 700;

// Size
$font-md: 18px;
$font-sm: 15px;
$font-xs: 13px;